language: ruby
bundler_args: --without debug
script: "bundle exec rspec spec"
sudo: false
cache: bundler
rvm:
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - 2.2.1
  - ruby-head
  - jruby
  - rbx-2
matrix:
  allow_failures:
      - rvm: jruby
